name: Actions workflow

on: [push]

jobs:
  run-github-Actions:
    runs-on: ubuntu-latest
    steps:
      - name: List files
        run: | 
          pwd
          ls -a
          echo $GITHUB_SHA
          echo $GITHUB_REPOSITORY
          echo $GITHUB_WORKSPACE
          echo "${{github.token}}"
          # git clone gothub:$GITHUB_REPOSITORY
          # git checkout $GITHUB_SHA
      - name: check out
        uses: actions/checkout@v1
      - name: List files
        run: |
          pwd
          ls -a
      - name: simple Javascript Actions
        id: greetings
        uses: adeloyedeji/github-actions-hello@v1.0
        with:
          who-to-greet: world
      - name: Log greetings time
        run: echo "${{steps.greetings.outputs.time}}"