name: Actions workflow

on: [push]

jobs:
  run-github-Actions:
    runs-on: ubuntu-latest
    steps:
      - name: List files
        run: |
          ls 
          pwd
      - name: simple Javascript Actions
        id: greetings
        uses: adeloyedeji/github-actions-hello@v1.0
        with:
          who-to-greet: world
      - name: Log greetings time
        run: echo "${{steps.greetings.outputs.time}}"